/* This is for screenned devices */

/* 
1. Imports are first
2. General Style Rules 
3. Mobile First Devices
4. Large Screen Sizes (Media Query Required) */

/* 1. Imports statemets */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('/repository/homework/weather/css/normalize.css');

/* 2. General Style Rules */

/* Box Sizes */
html {
    box-sizing: border-box;
    margin-left: 5px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.tile{
    background-color: rgba(200,200,200,.6);
    width: 50%;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}
/* 2.1 Typography Section */

h1, h2, h3, h4, h5, h6{ 
    font-family: sansita, sans-serif;
    font-size: 2em;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

 ul#navbar li {
    display: inline-block;
 } 
 dt, dd{
    display: inline-block;
}
dt{
    margin: 0;
}
dd{
   margin-left: 0;
   margin-right: 10px;
}
ul { 
    list-style: none; 
    padding-left: 0;
}

#logo{
    height: 50px;
    width: auto;
    margin-bottom: 0;
    font-size: 2em;
}

#logotext{
    padding-bottom: 75px;
}

#nogap{
    margin-top: -1%; 
}

/* 3. Mobile Rules */
.site-brand {
    font-size: 5vw;
    font-weight: 600;
    }

#site-brand {
    font-size: 1.7em;
    font-weight: 600;
}
    
#site-logo {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

/* 3.1 Zipcode Elevation and Location sizing and centering */
.zip{
    font-size: 12px;
    text-align: center;
}

.info{
    font-weight: bold;
}

#current-temp{
    font-size: 50pt;
}

#high-temp{
    color: red;
}
    
#low-temp{
    color: blue;
}
    
 #high-temp, #low-temp{
    display: inline-block;
    list-style: none;
}

#condition img{
    width: 80%;
}

#circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}

#templist{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    overflow: scroll;
    width: auto; 
    margin: 10px;  
}

#rain {
    flex-flow: wrap;      
    height: 50%;
    width: 50%;
    margin-bottom: 2em;
}

section{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    text-align: center;
}

footer {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    
    width: 90%;
    border: 3px solid #000;
}

/* 4 Large Image Screens */
@media screen and (min-width: 720px){
    /* All CSS rules for large screens go here. */
    #widebox {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .boxed {
       width: 250px;  
       height: 300px;
       margin: 0px;
    }
    
    #tempfont {
        font-size: 5em;
    }
    
    #condition img{
        width: 100%;
    }
    
    nav ul{
        position: fixed;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
        width: 75%;
        background-color: white;
    }
    
    nav a{
        text-decoration: none;
    }
    
    nav li{
        text-align: center;
        display: inline;
        padding: 1px 3px;
    }
    
    
    #hightemp{
        font-size: 2em;
    }
    
    #lowtemp{
        font-size: 2em;
    }
    
    .zip{
        font-size: 1.5em;
        text-align: center;
    }
    
    
    }